
<!-- * Title:not-found.component.html 
    // * Author: Professor Krasso
    // * Date: 08 October 2020
    // * Modified: Joann Saeou
    // * Description:not found   component html  page --> 
    
    
<div class="custom404" style="height: 700px; width: 1500px;"> 

    <img class="customimage"   src={{custom404image}} style="height: 700px; width: 1500px;">
</div>


<nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->

        <button class="navbar-link" routerLink="../../pages/home/" mat-button>Click to go back</button>



      </div>

    </mat-toolbar>
  </nav>


  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>