/* <!-- * Title:not-found.component.css 
// * Author: Professor Krasso
// * Date: 08 October 2020
// * Modified: Joann Saeou
// * Description:not found   component css style page --> */



.custom404  {
   size: 45px; 
   height: 900px;
   width: 700px;

}


.customimage { 
    height: 900px;
    width: 700px;
}
