/*   
<!--
 * Title: home.component.css
* Author: Professor Krasso
* Date: 18 September 2020
* Modified: Joann Saeou
* Description: Home component css file --> */

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
  color: palevioletred;
  border: 1px solid grey;
  border-style: inherit;
  padding: 1px 2px 2px 1px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
