<div fxLayout="column" class="main-welcome">

    <mat-sidenav-container>

        <mat-sidenav #sideNav mode="push" position="end">
            <mat-toolbar color="primary">
                <h1>Settings</h1>
                <div style="flex: 1 1 auto;"></div>
                <button mat-icon-button (click)="sideNav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <app-setting-change-color-scheme></app-setting-change-color-scheme>
        </mat-sidenav>
    
        <mat-sidenav-content>


            
		<mat-toolbar color="primary">
			<h1>Preferred Color Scheme</h1>
			<div style="flex: 1 1 auto;"></div>
			<button mat-icon-button (click)="sideNav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        
        <a class="card-wrapper" href="#">

			<p>Read the Article to this StackBlitz on Medium</p>

			<mat-card>
				<img mat-card-image src="https://miro.medium.com/max/2560/1*CP1MdoQD7ZKi8gANjt-lCg.png" alt="Photo of a Shiba Inu">
				<mat-card-content>
					<h2>How to implement dark / light mode in Angular Material with prefers-color-scheme</h2>
					<p>The dark mode brings many advantages and shouldn't be missed in any modern web application. Let me show you an example for Angular Material</p>
				</mat-card-content>
			</mat-card>

		</a>

	</mat-sidenav-content>

</mat-sidenav-container>


<!-- title -->
    <div fxFlex>
        <h1 class="title">
            Welcome to WEB 450's - nodebucket Project <br />
            <span class="subtitle">
              Task Management page
            </span>
          </h1>
    </div>

    <!-- end of title -->

    <!--  button for opening the  create task dialog column -->
    <div fxFlex>
        <div class="create-task-container" fxLayout="column">
          <button mat-raised-button color="primary" (click)="openCreateTaskDialog()"> Create Task </button>
        </div>
      </div>
      <!-- end of create task dialog column-->


<br/>
<hr>




<div fxFlex>

    <div fxLayout="row" fxLayoutGap="15px" class="task-container">


        <!-- column 1 for TODO-->
<div fxFlex>
     
   

    <mat-card class="mat-elevation-z0">

        <mat-card-title> To Do </mat-card-title>

        <mat-card-content>
  
            <div 
            fxLayout="column"
            fxLayoutGap="20px"
            class="task-list"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            (cdkDropListDropped)="drop($event)">
        


      <div *ngFor="let item of todo" cdkDrag>
           
        <mat-card class="mat-elevation-z0 task-card">

            <mat-card-content>

                <div fxLayout="row">
                    <div fxFlex>
                        {{ item.text }}
                    </div>


                    <div fxFlex fxLayoutAlign="end">
                        <button [matMenuTriggerFor]="todoOptions" class="task-options-menu" mat-icon-button>
                            <mat-icon>highlight_off
                            </mat-icon>
                        </button>



                        <mat-menu #todoOptions="matMenu" x-position="before">
                            <button (click)="deleteTask(item._id)" mat-menu-item>Remove</button>
                        </mat-menu> 
                    </div>

                </div>

            </mat-card-content>

        </mat-card>
      </div> 

      </div>

   </mat-card-content>

    </mat-card>

</div>
  <!-- end of column 1-->



<!-- column 2 for DONE -->
<div fxFlex>

    <mat-card class="mat-elevation-z0">

        <mat-card-title>
            Done
        </mat-card-title>

        <mat-card-content>
            <div 
            fxLayout="column"
            fxLayoutGap="20px"
            class="task-list"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList]"
            (cdkDropListDropped)="drop($event)">



            <div *ngFor="let item of done" cdkDrag>

                <mat-card class="mat-elevation-z0 task-card">


                    <mat-card-content>
                        <div fxLayout="row">

                            <div fxFlex>
                                {{ item.text }}
                            </div>

                            <div fxFlex fxLayoutAlign="end">
                                <button [matMenuTriggerFor]="doneOptions" class="task-options-menu" mat-icon-button>
                                    <mat-icon>highlight_off</mat-icon>                                  <!-- to change the button icon -->

                                </button>

                                <!-- to delete task -->
                                <mat-menu #doneOptions="matMenu" x-position="before">
                                    <button (click)="deleteTask(item._id)" mat-menu-item>Remove</button>
                                </mat-menu>
                            </div>

                        </div>
                    </mat-card-content>

                </mat-card>
            </div>

            </div>

        </mat-card-content>
    </mat-card>


     
</div>
  <!-- end of column 2-->

    </div> 
<!-- end of task container -->



</div>
<!-- closing tag of div on line 31-->



<!-- line 1 main-welcome div closing tag-->
</div>