
 
<!-- * Title: base-layout.component.html
* Author: Professor Krasso
* Date: 19 September 2020
* Modified: Joann Saeou
* Description: base layout html component --> 

<div fxLayout="column">


  

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->


        <button class="logo" mat-icon-button> 
          
          <mat-icon>assignment</mat-icon>   Nodebucket
                                         <!-- to change the logo icon -->

      </button>  





        <button class="navbar-link" routerLink="../../pages/home/" mat-button>
          <mat-icon>face
          </mat-icon>  Home</button>

        <button class="navbar-link" routerLink="/pages/aboutus" mat-button>
          <mat-icon>favorite</mat-icon>About-Us
        </button>

        <button class="navbar-link" routerLink="../../pages/not-found/" mat-button>
          <mat-icon> favorite_border</mat-icon>
          Not-Found</button>


        <button class="navbar-link" align="right" float="right" mat-raised-button color="warn" (click)="logOut()">
          <mat-icon>login</mat-icon>logout </button>

      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
