/*   
<!-- * Title: base-layout.component.css
* Author: Professor Krasso
* Date: 19 September 2020
* Modified: Joann Saeou
* Description: base layout css component --> */

.logo {
  margin-left: 75px;
  font-size: 24px;
  font-weight: lighter;;
}

.navbar-container {
  padding: 5px;
}

.navbar-link {
  font-size: 24px;
  font-weight: lighter;
}

.main-content {
  padding-left: 30px;
}

.footer {
  bottom: auto;
  /* position: absolute; */
  position: bottom ;
  width: 100%;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
}

.bu-link:hover {
  text-decoration: underline;
}

.custom404  {
  size: 45px; 
  height: 500px;
  width: 460px;

}


.customimage { 
   height: 500px;
   width: 460px;
}


